In [1]:
import pandas as pd
vine_table_df = pd.read_csv('vine_table.csv')
vine_table_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N
5,R1Z8IFGWTRWXT6,3.0,0.0,0.0,N,Y
6,R3AUMSHAW73HWN,4.0,2.0,3.0,N,N
7,R2KWDWFOHGX6FL,5.0,0.0,0.0,N,Y
8,R3H9543FWBWFBU,5.0,1.0,1.0,N,Y
9,RUANXOQ9W3OU5,5.0,0.0,0.0,N,Y

In [2]:
#Filter the data and create a new DataFrame or table to retrieve all
#the rows where the total_votes count is equal to or greater than 20 
#to pick reviews that are more likely to be helpful and to avoid having 
#division by zero errors later on.
vt_df_votes = vine_table_df[vine_table_df["total_votes"]>=20]
vt_df_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y

In [3]:
#Filter the new DataFrame or table created in Step 1 and create a new 
#DataFrame or table to retrieve all the rows where the number of helpful_votes 
#divided by total_votes is equal to or greater than 50%.
vt_df_helpful = vt_df_votes[((vt_df_votes["helpful_votes"])/(vt_df_votes["total_votes"]))>=.5]
vt_df_helpful.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y

In [4]:
#Filter the DataFrame or table created in Step 2, and create a new 
#DataFrame or table that retrieves all the rows where a review was 
#written as part of the Vine program (paid), vine == 'Y'
vt_df_vineY = vt_df_helpful[vt_df_helpful['vine']=='Y']
vt_df_vineY.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N

In [5]:
#Repeat Step 3, but this time retrieve all the rows where the review 
#was not part of the Vine program (unpaid), vine == 'N'
vt_df_vineN = vt_df_helpful[vt_df_helpful['vine']=='N']
vt_df_vineN.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y

In [6]:
#Determine the total number of reviews, the number of 5-star reviews, 
#and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [7]:
total_paid_reviews = vt_df_vineY['review_id'].count()
total_paid_reviews

334

In [8]:
paid_five_star = vt_df_vineY[vt_df_vineY['star_rating']==5]['review_id'].count()
paid_five_star

139

In [9]:
paid_five_star_percent = round((paid_five_star / total_paid_reviews)*100,2)
paid_five_star_percent

41.62

In [10]:
total_unpaid_reviews = vt_df_vineN['review_id'].count()
total_unpaid_reviews

61614

In [11]:
unpaid_five_star = vt_df_vineN[vt_df_vineN['star_rating']==5]['review_id'].count()
unpaid_five_star

32665

In [12]:
unpaid_five_star_percent = round((unpaid_five_star / total_unpaid_reviews)*100,2)
unpaid_five_star_percent

53.02